@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/* 
- Rouge: #ef5466
- Bleu: #2d96c8
- Gris clair: #F1F1F1
- Gris foncé: #8e8e94
 */

body{
    font-family: 'Roboto', sans-serif;;
}

button:hover{
    cursor: pointer;
}

/* header */

header{
    margin-top: 15px;
}

header .logo{
    width: 150px;
    position: relative;
    margin-left: 50px;
}


header nav{
    position: absolute;
    right: 0px;
    top: 15px;
    margin-right: 80px;
}

header nav a{
    margin-right: 30px;
    color: #1a1616;
    text-decoration: none;
    font-weight: bold;
}

header button{
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 105px;
    border-radius: 50px;
}

header button.connexion{
    background-color: #fff;
    color: #2d96c8;
    border-color: #2d96c8;
    margin-right: 20px;
}

header button.inscription{
    background-color: #2d96c8;
    color: #fff;
    border-color: #2d96c8;
}

header section.emotion{
    border-top: 3px solid #F1F1F1;
    margin-top: 20px;
    height: 400px;
    background-image: url(./img/hero.png);
    background-size: 640px;
    background-repeat: no-repeat;
    background-position-x: 660px;
}

header section.emotion h1{
    color: #1a1616;
    font-size: 50px;
    font-weight: bold;
    max-width: 550px;
}

header section.emotion h2{
    color: #ef5466;
    font-size: 30px;
    font-weight: bold;
    max-width: 540px;
}

header section.emotion button{
    margin-top: 30px;
}

header section.emotion button.btn_premium{
    background-color: #ef5466;
    color: #fff;
    border-color: #ef5466;
    width: 190px;
    margin-right: 40px;
    padding: 15px 0 15px 0
}

header section.emotion button.btn_gratuit{
    background-color: #fff;
    color: #1a1616;
    border-color: #1a1616;
    width: 190px;
    padding: 15px 0 15px 0
}

header section.emotion article.slogan{
    margin: 90px 0 0 90px;
}

/* section description */
section.description{
    background-color: #F1F1F1;
}

section.description img{
    width: 230px;
}

section.description h2{
    color: #1a1616;
    font-size: 30px;
    font-weight: bold;
    margin-left: 95px;
}

section.description h3{
    color: #1a1616;
    font-size: 25px;
    font-weight: bold;
    width: 300px;
    padding-bottom: 15px;
    margin-top: 50px;
}

section.description p{
    color: #1a1616;
    font-size: 15px;
    font-weight: bold;
    word-spacing: 3px;
    width: 355px;
}

section.grille{
    display: flex;
    margin-left: 115px;
    padding-top: 50px;
    padding-bottom: 30px;
    width: 90%;
}

section.journal{
    width: 80%;
    display: flex;
    flex-direction: column;
}

div.img_phone{
    width: 20%;
}

div.container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;
}

article.description{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

/* section partout */
section.partout{
    background-color: #ef5466;
    color: #fff;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.partout section.svg i{
    font-size: 30px;
    font-weight: 600;
    margin-right: 20px;
}

section.partout article.exemple{
    margin-left: 40px;
}

section.partout article.exemple h2{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 30px;
}

section.partout article.exemple p{
    font-size: 15px;
    width: 445px;
}