@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/* 
- Rouge: #ef5466
- Bleu: #2d96c8
- Gris clair: #F1F1F1
- Gris foncé: #8e8e94
 */

body{
    font-family: 'Roboto', sans-serif;;
}

button:hover{
    cursor: pointer;
}

/* header */

header{
    margin-top: 15px;
}

header .logo{
    width: 150px;
    position: relative;
    margin-left: 50px;
}


header nav{
    position: absolute;
    right: 0px;
    top: 15px;
    margin-right: 80px;
}

header nav a{
    margin-right: 30px;
    color: #1a1616;
    text-decoration: none;
    font-weight: bold;
}

header button{
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 105px;
    border-radius: 50px;
}

header button.connexion{
    background-color: #fff;
    color: #2d96c8;
    border-color: #2d96c8;
    margin-right: 20px;
}

header button.inscription{
    background-color: #2d96c8;
    color: #fff;
    border-color: #2d96c8;
}

header section.emotion{
    border-top: 3px solid #F1F1F1;
    margin-top: 20px;
    height: 400px;
    background-image: url(./img/hero.png);
    background-size: 640px;
    background-repeat: no-repeat;
    background-position-x: 660px;
}

header section.emotion h1{
    color: #1a1616;
    font-size: 50px;
    font-weight: bold;
    max-width: 550px;
}

header section.emotion h2{
    color: #ef5466;
    font-size: 30px;
    font-weight: bold;
    max-width: 540px;
}

header section.emotion button{
    margin-top: 30px;
}

header section.emotion button.btn_premium{
    background-color: #ef5466;
    color: #fff;
    border-color: #ef5466;
    width: 190px;
    margin-right: 40px;
    padding: 15px 0 15px 0
}

header section.emotion button.btn_gratuit{
    background-color: #fff;
    color: #1a1616;
    border-color: #1a1616;
    width: 190px;
    padding: 15px 0 15px 0
}

header section.emotion article.slogan{
    margin: 90px 0 0 90px;
}

/* section description */
section.description{
    background-color: #F1F1F1;
}

section.description img{
    width: 230px;
}

section.description h2{
    color: #1a1616;
    font-size: 30px;
    font-weight: bold;
    margin-left: 95px;
}

section.description h3{
    color: #1a1616;
    font-size: 25px;
    font-weight: bold;
    width: 300px;
    padding-bottom: 15px;
    margin-top: 50px;
}

section.description p{
    color: #1a1616;
    font-size: 15px;
    font-weight: bold;
    word-spacing: 3px;
    width: 355px;
}

section.grille{
    display: flex;
    margin-left: 115px;
    padding-top: 50px;
    padding-bottom: 30px;
    width: 90%;
}

section.journal{
    width: 80%;
    display: flex;
    flex-direction: column;
}

div.img_phone{
    width: 20%;
}

div.container{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;
}

article.description{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

/* section partout */
section.partout{
    background-color: #ef5466;
    color: #fff;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.partout section.svg i{
    font-size: 30px;
    font-weight: 600;
    margin-right: 20px;
}

section.partout article.exemple{
    margin-left: 40px;
}

section.partout article.exemple h2{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 30px;
}

section.partout article.exemple p{
    font-size: 15px;
    width: 445px;
}

/* classe forfait */
section.forfait{
    /* background-color: #2d96c8; */
    height: 700px;
}

section.forfait div.all-cards{
    display: flex;
    justify-content: center;
}

section.forfait h2{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
}

section.forfait h5{
    color: lightgrey; 
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 10px;
}

section.forfait section.card{
    display: flex;
    flex-wrap: nowrap;
}

section.forfait div.all-cards div.card article.carte{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
    width: 200px;
    margin-right: 5px;
}

section.forfait div.all-cards div.card article.carte h3{
    font-size: 20px;
    font-weight: bold;
    padding-top: 35px;
}

section.forfait div.all-cards div.card article.carte h2{
    font-size: 25px;
    font-weight: bold;
    padding-top: 30px;
}

section.forfait div.all-cards div.card article.carte h4{
    font-size: 10px;
}

section.forfait div.all-cards div.card article.article1{
    border-radius: 5px;
    background-color: #fff;
    color: #1a1616; 
    -webkit-box-shadow: -10px 5px 30px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 5px 30px 1px rgba(0,0,0,0.75);
}

section.forfait div.all-cards div.card article.article1 button{
    color: #fff;
    margin-top: 20px;
    background-color: darkgray;
    border-color: darkgray;
    width: 130px;
    margin-bottom: 10px;
    border-radius: 50px;
    padding: 10px;
}

section.forfait div.all-cards div.card article.article2{
    border-radius: 5px;
    background-color: #2d96c8;
    color: #fff; 
}

section.forfait div.all-cards div.card article.article2 a{
text-decoration: none;
font-size: 15px;
font-weight: bold;
color: #fff;
padding-bottom: 30px;
}

section.forfait div.all-cards div.card article.article2 button, section.forfait div.all-cards div.card article.article3 button{
    color: #fff;
    margin-top: 20px;
    background-color: #ef5466;
    border-color: #ef5466;
    width: 130px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 50px;
    padding: 10px;
}

section.forfait div.all-cards div.card article.article2 h4.offert, section.forfait div.all-cards div.card article.article3 h4.offert{
    padding-top: 25px;
    font-weight: bold;
}

section.forfait div.all-cards div.card article.article3{
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 10px 5px 30px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 5px 30px 1px rgba(0,0,0,0.75);
}

section.forfait div.all-cards div.card article.carte ul li{
    padding-bottom: 10px;
}

section.forfait div.all-cards div.card article.article1 ul li.check, section.forfait div.all-cards div.card article.article3 ul li.check{
    /* list-style-type: url(./img/check.png); */
    color: rgb(106, 103, 103);
}

section.forfait div.all-cards div.card article.article1 a, section.forfait div.all-cards div.card article.article3 a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #2d96c8;
    padding-bottom: 30px;
}

section.forfait div.all-cards div.card article.article1 a, section.forfait div.all-cards div.card article.article3 h4.offert{
    color: #2d96c8;
    font-weight: bold;
}

section.forfait div.all-cards div.card article.article1 ul li.cross{
    /* list-style-image: url(./img/cross.png); */
    color: rgba(106, 103, 103, .4);
}

section.forfait div.all-cards div.card article.article2 ul li.cross{
    color: rgba(255, 255, 255, .2);
}

section.forfait p{
    color: lightgrey;
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

/* abonnement */

section.abonnement{
    background-color: #fff;
}

section.abonnement article.abonnement1{
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding:20px 100px
}

section.abonnement button.btn_abonnement{
    display: flex;
    justify-content: center;
    align-items: center;
}

section.abonnement article.abonnement1 div.contenant{
    display: flex;
    flex-direction: column;
}

section.abonnement article.abonnement2{
    display: flex;
    margin-bottom: 20px;
}

section.abonnement article.abonnement3{
    display: flex;
}

section.abonnement h3{
    color: #1a1616;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

section.abonnement span{
    color: #ef5466;
}

section.abonnement a{
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #2d96c8;
}

section.abonnement div.btn_abonnement button{
    background-color: inherit;
    border-color: #1a1616;
    border-radius: 50px;
    padding: 10px 40px;
}

section.abonnement article.abonnement1 button.btn2{
    background-color: inherit;
    border-color: #1a1616;
    border-radius: 50px;
    padding:0 45px
}    

/* footer */
footer{
    background-color: #1a1616;
    height: 500px;
}

footer div.telechargement{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: 40px;
    color: #fff;
}

footer div.telechargement i.apple{
    padding-right: 30px;
}


footer div.colonne{
    display: flex;
    justify-content: space-around;
}

footer div.colonne li{
    color: #fff;
    margin-bottom: 10px;
}

footer div.colonne li h3.title{
    color: lightgray;
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 15px;
}

div.partage{
margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.reseau{
    margin-left: 50px;
    font-size: 20px;
    color: #fff;
}

div.liste-deroulante{
    color: darkgray;
    font-size: 15px;
    display: flex;
    margin-right: 50px;
}

div.liste-deroulante p{
    margin-right: 5px;
}

div.liste-deroulante select{
    -webkit-appearance: none;
    background: inherit;
    color: #fff;
}
/* responsive */
